<!DOCTYPE html>
<html>
<head>
  <title>Development task manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>


  <header>
    <img src="app/assets/images/dev-logo.svg" alt="Logo" />
  </header>

<%= yield %>


  </main>
</body>
</html>
